.header-link {
    flex: auto;
    flex-grow: 0;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
.home-menu-button {
    display: flex;
    align-items: center;
}