.create-property-form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.33);
    border-radius: 0.5em;
}