.subtitle {
    margin: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 0.35em;
    text-align: center;
}

.error-subtitle {
    margin: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    color: red;
    margin-bottom: 0.35em;
    text-align: center;
}

.text-field {
    padding-bottom: 2rem;
}

.parent-div {
    transform: scale(1);
    transform-origin: center;
}