.anchored-container {
    width: 85%;
    margin: auto;
    bottom: 2rem;
    display: flex;
    justify-content: space-between;
}

.button {
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.file-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-block: 10px;
}

.container{    
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 1rem 0;
    width: 85%;
}

.paper-container{
    width: 35%;
    margin: auto;
    margin-top: 5%;
    padding-block: 1em;
}

.form-field{
    width: 30em;
    min-width: 10em;
    display: flex;
}